@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --font-oswald: "Oswald", sans-serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --color-pri: #ffffff;
  --color-sec: #e10130;
  --color-third: #000000;
  --color-fourth: #191918;
}
